.slds-context-bar2 {
    background-color:black ;
    color:white;
    border: radius 10px;
    box-shadow: none    ;
    border-bottom: 3px solid black;
    border-radius: 2px;


}

.community_byo-scoped-header-and-footer__header-content {
 background-color: black;
}